@{
    ViewData["Title"] = "Home Page";
}
<!-- Legger til tekst på førstesiden -->
<div class="text-center">
    <h1 class="display-4" style="margin-top: 50px;">Welcome to Index</h1>
    
    <p class="fs-2" style="margin-top: 20px;">Please log in to access the application</p>
    

</div>
