@{
    ViewData["Title"] = "Start Page";
}
<!-- Legger til tekst på førstesiden -->
<div class="text-center">
    <h1 class="display-4" style="margin-top: 50px;">Welcome to</h1>
    <h1 class="display-4">Aviation Obstacle Registration</h1>
    <p class="fs-2" style="margin-top: 20px;">Please log in to access the application</p>
    
    <!-- Knapp for å gå til login -->
    <button class="btn btn-primary btn-lg mt-4" style="padding: 24px 100px; font-size: 30px;">Login</button>
</div>
