.registrar-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
}


.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}