@using AOR.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
}
@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin - Dashboard";
}

<link rel="stylesheet" href="~/css/Admin/Index.css" />

<section class="container align-content-center">

<div class="admin-wrapper">
    <h2>Welcome, @($"{currentUser?.FirstName} {currentUser?.LastName}")!</h2>

    <div class="admin-grid">
        <a class="admin-tile" asp-controller="Account" asp-action="AppUsers">Users</a>
        <a class="admin-tile" asp-controller="Admin" asp-action="Orgs">Organizations</a>
        <a class="admin-tile" asp-controller="Admin" asp-action="Stats">Statistics</a>
        <a class="admin-tile" asp-controller="Admin" asp-action="Reports">Reports</a>
    </div>
</div>

</section>
    


