
@{
    Layout = "_Layout";
    ViewData["Title"] = "Map";
}

<section class="container align-content-center">
    <div class="site-header d-flex align-items-center justify-content-between mb-3 position-relative">
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Back</a>
        <h1 class="position-absolute top-50 start-50 translate-middle mb-0 text-center">Map</h1>
    </div>
    <p>This page is under construction./p>
    
</section>
