@model AOR.Models.OrgModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Add organization";
}

<link rel="stylesheet" href="~/css/Admin/NewOrg.css" />

<section class="container align-content-center">

    <div class="site-header text-center mb-3">
        <h1 class="mb-0">Register new organization</h1>
    </div>

    <form asp-action="NewOrg" asp-controller="Admin" method="post">
        @Html.AntiForgeryToken()

        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="OrgNr" class="form-label"></label>
                <input asp-for="OrgNr" class="form-control" type="text" inputmode="numeric" value="" />
                <span asp-validation-for="OrgNr" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="OrgName" class="form-label"></label>
                <input asp-for="OrgName" class="form-control" />
                <span asp-validation-for="OrgName" class="text-danger"></span>
            </div>
        </div>
        
        <div class="d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-primary me-2">Save</button>
            <a asp-controller="Admin" asp-action="Orgs" class="btn btn-cancel">Cancel</a>
        </div>
    </form>
    
</section>
