@{
    Layout = "_Layout";
    ViewData["Title"] = "Users";
}

<style>
    .container {
        width: 90%;
        max-width: 100%;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<section class="container align-content-center">
  
    <div class="d-flex align-items-center mb-3">
        <a asp-controller="Admin" asp-action="AppUsers" class="btn btn-primary me-auto">Back</a>
        <h1 class="mx-auto mb-0 text-center">Registrer new user</h1>
    </div>
    
</section>