@{
    Layout = "_Layout";
    ViewData["Title"] = "Previous reports";
}

<style>
    .container {
        width: 90%;
        max-width: 100%;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: auto;
        margin-right: auto;
    }

    .site-header {
        margin-bottom: 32px;
        padding-bottom: 20px;
        border-bottom: 2px solid #10b981;
    }
</style>

<section class="container align-content-center">
    <div class="site-header d-flex align-items-center justify-content-between mb-3 position-relative">
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Back</a>
        <h1 class="position-absolute top-50 start-50 translate-middle mb-0 text-center">Reports</h1>
    </div>
    <p>This page is under construction</p>
    
</section>