html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary{
    background: #0d6efd;
    color: white;
    border: 2px solid #0d6efd;
}

.btn-primary:hover {
    background: white;
    color: #0d6efd;
    border: 2px solid #0d6efd;
}

.btn-secondary{
    background: white;
    color: #0d6efd ;
    border: 2px solid #0d6efd ;
}

.btn-secondary:hover {
    background: #0b5ed7 ;
    border-color: #0a58ca;
    color: white;
}

.btn-cancel {
    background: #5c636a;
    border-color: #565e64;
    color: white;
}

.btn-cancel:hover{
    background: white;
    color: #565e64;
    border: solid #6c757d;
}

html {
  position: relative;
  min-height: 100%;
}

.header{
    max-height: 5dvh; width: 100%
}

body {
  
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.footer
{
    width: 100%; z-index: 1000; bottom: 0; overflow: hidden;
}

.pilot-form-container {
    max-width: 720px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 24px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    padding: 24px;
    border: 1px solid #e5e7eb;
}